.form__button {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px;
    border-radius: 0px;
    background: #6987C9;
    border: 2px solid #E7ECEF;
    color: #E7ECEF;
    outline: none;
    &:hover {
        color: #6987C9;
        background: #E7ECEF;
    }
    &:focus{
        border-color: #3d5fa9;
    }
}
