@charset "UTF-8";

html{
    height: 100%;
}

body {
    background-color: #E7ECEF;
    font-family: 'Dosis', sans-serif;
    color: #4b4d58;
    margin: 0;
    height: 100%;
    font-weight: 300;
    
    #app{
        height:100%;

        #body{
            min-height: 100%;
            position:relative;
        }
    }
}

input {
  border: none;
  font-family: inherit;
  font-size: 20px;
  letter-spacing: 1.5px;
  padding: 10px 20px;
}
input:focus{
  outline:none;
}
