.form__input {
    position: relative;
    margin-bottom: 15px;

    input {
        top: 0;
        left: 0;
        z-index: 1;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #E7ECEF;

        &:focus{
          padding-top: 1px;
          padding-bottom: 19px;
        }

        &:focus + label {
          background: #6987C9;
          color: #E7ECEF;
          font-size: 70%;
          padding: 1px 6px;
          z-index: 3;
          text-transform: uppercase;
          border: 1px solid #E7ECEF;
          border-top: none;
        }
    }

    label {
        transition: // not padding
          background 0.2s,
          color 0.2s,
          top 0.2s,
          bottom 0.2s,
          right 0.2s,
          left 0.2s;
        position: absolute;
        color: #999;
        padding: 7px 6px;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        box-sizing: border-box;
    }
}
